body {
    background-color: black;
    color: white;
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.content{
    width: 100%;
    min-width: 0;
    max-width: none;
    height: 100vh;
    padding: 8px 12px;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;

    word-break: break-all;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

img{
    max-width: 300px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: 3px solid red;
}

.photo1{
    float: left;
    margin: 12px 12px 8px 0;
}

.photo2{
    float: right;
    margin: 12px 0 8px 12px;
}
